html {
    margin: 0;
    padding: 0;
}

body {
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    background: rgb(0, 0, 0) no-repeat bottom right;
    margin: 0;
    padding: 0;
}

.bigtitle {
    font: georgia, sans-serif;
    color: #595555;
}

#titles {
    font: georgia, sans-serif;
    color: #130a8d;
}

p {
    margin-top: 0;
    padding: 0;
    text-align: justify;
}

h3 {
    font: italic normal 1.4em georgia, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0;
    color: #7D775C;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #B7A5DF;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #9685BA;
}

footer {
    text-align: center;
}

footer a:link,
footer a:visited {
    margin-right: 20px;
}